@import url(detail-colors.less);

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 8px;
	font-family: 'Droid Sans';
}

.Panes(@leftWidth) {
	.LeftPane {
		float: left;
		width: @leftWidth;
		height: 100%;
	}

	.RightPane {
		float: left;
		height: 100%;
		left: @leftWidth;
		width: 100% - @leftWidth;
	}
}

.Panes(35%);

@media only screen and (max-width: 600px) {
	.Panes(50%);
}

@media only screen and (max-width: 400px) {
	.Panes(50%);
}

.MessageList {
	list-style: none;
	background-color: #ccc;

	li {
		padding: 2em 1em;
		border-bottom: 2px solid white;

		h2 {
			font-weight: normal;
			font-size: 3em;
			margin-bottom: 1em;
		}

		h4 {
			text-align: right;
			font-size: 2em;
		}
	}
}
