@import url(item-colors.less);
@borderWidth: 2px;

body {
	background-color: #ddd;
}

.Panes(@leftWidth) {
	.LeftPane {
		width: @leftWidth;
		height: 100%;
	}

	.ListBorder {
		position: absolute;
		left: @leftWidth;
		top: 0;
		margin-left: -1 * @borderWidth;
		width: @borderWidth;
		height: 100%;
	}

	.RightPane {
		height: 100%;
		top: 0;
		left: @leftWidth;
		width: 100% - @leftWidth;
		position: absolute;
	}
}

.Panes(0) {
	.LeftPane {
		display: none;
	}

	.ListBorder {
		display: none;
	}
}

.Panes(35%);

@media only screen and (max-width: 600px) {
	.Panes(50%);
}

@media only screen and (max-width: 400px) {
	.Panes(0);

	body {
		font-size: 4px;
	}
}


.Notice {
	font-size: 8em;
	text-align: center;
	margin: 4em 1em;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.Loading {
	.Loader();
	margin-top: 32em;
}

.MessageList {
	list-style: none;

	li {
		padding: 2em 1em;
		border-bottom: @borderWidth solid white;

		h2 {
			font-weight: normal;
			font-size: 3em;
			margin-bottom: 1em;
		}

		h4 {
			text-align: right;
			font-size: 2em;
		}
	}
}

@easing: cubic-bezier(.69,.9,.9,1);

.ListBorder {
	-moz-transition: margin-top @easing .8s;
	-o-transition: margin-top @easing .8s;
	-webkit-transition: margin-top @easing .8s;
	transition: margin-top @easing .8s;
	z-index: 2;

	.Border {
		height: 100%;
		width: 100%;
		background-color: white;

		&:first-child {
			top: -100%;
			position: absolute;
		}
	}

	.Content {
		background-color: transparent;
		// After we set the height for the initial list item,
		// resizes (for taller items) should have animation.
		.Loaded {
			-moz-transition: height @easing .8s;
			-o-transition: height @easing .8s;
			-webkit-transition: height @easing .8s;
			transition: height @easing .8s;
		}
	}
}

.MessageDetail {
	overflow: hidden;

	article {
		-moz-transition: margin-top @easing .8s;
		-o-transition: margin-top @easing .8s;
		-webkit-transition: margin-top @easing .8s;
		transition: margin-top @easing .8s;
		padding: 0 2em;

		h1 {
			text-align: center;
			font-size: 10em;
			text-transform: uppercase;
			letter-spacing: 6px;
		}

		h3 {
			text-align: right;
			margin: 3em 3em 0 0;
			font-style: italic;
			font-size: 3em;

			&::before {
				content: '—';
			}
		}
	}
}
