.gradient { // borrowed from bootstrap.less
	.horizontal(@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
		background-image: -webkit-linear-gradient(left center, @startColor, @endColor);
		background-image: -moz-linear-gradient(left center, @startColor, @endColor);
		background-image: -o-linear-gradient(left, @startColor, @endColor);
		background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor));
		filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=1)",@startColor,@endColor));
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d', GradientType=1))",@startColor,@endColor);
	}

	.vertical(@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		background-image: -webkit-linear-gradient(@startColor, @endColor);
		background-image: -moz-linear-gradient(@startColor, @endColor);
		background-image: -o-linear-gradient(top, @startColor, @endColor);
		background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=0)",@startColor,@endColor));
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d', GradientType=0))",@startColor,@endColor);
	}

	.diagonalCorner(@startColor: #555, @endColor: #333, @startAt: 30%) {
		background-color: @startColor;
		background: @startColor;
		background: -moz-linear-gradient(-45deg, @startColor @startAt, @endColor 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(@startAt,@startColor), color-stop(100%, @endColor));
		background: -webkit-linear-gradient(-45deg, @startColor @startAt, @endColor 100%);
		background: -o-linear-gradient(-45deg, @startColor @startAt, @endColor 100%);
		background: -ms-linear-gradient(-45deg, @startColor @startAt, @endColor 100%);
		background: linear-gradient(135deg, @startColor @startAt, @endColor 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@startColor', endColorstr=' @endColor',GradientType=1 );
		background-repeat: no-repeat;
		filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=1)",@startColor,@endColor));
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d', GradientType=1))",@startColor,@endColor);
	}
}

@size: 4px;
@spacing: 40px;

.LoaderLeft(@gap1, @gap2) {
	box-shadow: 0 0 @size @size inset, @gap2 * @spacing 0;
	margin-right: @gap1 * @spacing + @gap2 * @spacing;
}

.LoaderRight(@gap3, @gap4) {
	box-shadow: 0 0 @size @size inset, @gap4 * @spacing 0;
	margin-left: @gap3 * @spacing;
}

@-webkit-keyframes LeftDots {
	0% {
		.LoaderLeft(-7, -6);
	}

	35%,75% {
		.LoaderLeft(-7, -6);
		margin-right: 2 * @spacing;
		width: 45px;
	}

	100% {
		.LoaderLeft(7, 6);
		background: red;
	}
}

@keyframes run2 {
	0% {
		margin-left: -500%;
	}

	30%,70% {
		margin-left: 0%;
	}

	100% {
		margin-left: 500%;
	}
}

@keyframes run3 {
	0% {
		margin-left: -500%;
	}

	25%,65% {
		margin-left: 0%;
	}

	100% {
		margin-left: 500%;
	}
}

@keyframes run4 {
	0% {
		margin-left: -500%;
	}

	20%,60% {
		margin-left: 0%;
	}

	100% {
		margin-left: 500%;
	}
}

@keyframes run5 {
	0% {
		margin-left: -500%;
	}

	15%,55% {
		margin-left: 0%;
	}

	100% {
		margin-left: 500%;
	}
}


.Loader(@color: blue) {
	margin-top: 12px;
	margin-left: @size / -2;
	left: 50%;
	position: absolute;
	-moz-box-shadow: 0 0 @size @size inset;
	box-shadow: 0 0 @size @size inset;
	-moz-animation: LeftDots 8s ease-in-out infinite;
	-o-animation: LeftDots 8s ease-in-out infinite;
	-webkit-animation: LeftDots 8s ease-in-out infinite;
	animation: LeftDots 8s ease-in-out infinite;


	&, &::after, &::before {
		-moz-border-radius: @size / 2;
		-webkit-border-radius: @size / 2;
		border-radius: @size / 2;
		height: @size;
		width: @size;
		content: ' ';
		display: block;
	}

	&::after {
		float: left;
		margin-top: -1 * @size;
		.LoaderRight(1, 1);
	}

	&::before {
		float: right;
		.LoaderLeft(1, 1);
	}
}
