@import url('provider-colors.less');

.Container {
	width: 240px;
	margin: 0 auto;
}

@media only screen and (max-width: 320px) {
	.Container {
		width: 100%;
	}
}

.Container header {
	overflow: auto;

	a {
		font-size: 1.5em;
		color: #00e;

		&:visited {
			color: #00e;
		}
	}

	a.Logout {
		float: right;
	}
}

h1 {
	margin-bottom: .25em;
	font-size: 3em;

	img {
		vertical-align: top;
	}
}

.Loading {
	.Loader();
}

.ListGroups {
	clear: both;

	h2 {
		padding: 1.5em 0 .15em;
		font-size: 2.5em;
		border-bottom: 1px solid white;
		clear: both;
	}

	ul {
		list-style: none;

		a {
			display: block;
			border-bottom: 1px solid #E4EEFF;
			font-size: 1.75em;
			text-decoration: none;
			padding: .25em .25em .25em .75em;
		}

		a:visited {
			color: #009;
		}

		a:hover {
			background: #E4EEFF;
			color: black;
		}
	}
}

.TiledGroups(@columns) {
	.ListGroups ul {
		overflow: auto;
		border-left: 1px solid #E4EEFF;

		li {
			float: left;
			width: 100% / @columns;
		}

		a {
			padding: .3em .5em;
			border-right: 1px solid #E4EEFF;
		}
	}
}
