@import url('provider-colors.less');

.Container {
	width: 240px;
	margin: 0 auto;
}

@media only screen and (max-width: 320px) {
	.Container {
		width: 100%;
	}
}

h1 {
	font-size: 3em;
}

.Loading {
	.Loader();
}

.ListGroups {
	h2 {
		padding: 1.5em 0 .15em;
		font-size: 2.5em;
		border-bottom: 1px solid white;
	}

	ul {
		list-style: none;

		a {
			display: block;
			border-bottom: 1px solid #E4EEFF;
			font-size: 1.75em;
			text-decoration: none;
			padding: .25em .25em .25em .75em;
		}
		a:visited{
			color: #009;
		}

		a:hover {
			background: #E4EEFF;
			color: black;
		}
	}
}
